.header {
    position: relative;
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;
}
.contacts {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header nav {
    display: flex;
    align-items: center;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
