.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--style-color);
    margin-right: 93px;
    text-decoration: none;
    &__studio--dark {
        color: #000000;
    }
    &__studio--bright {
        color: var(--main-bright-color);
    }
}
