$main-color: #212121;
$main-bright-color: #ffffff;
$text-color: #757575;
$style-color: #2196f3;
$style-color2: #eeeeee;
$black: #000000;
$style-color3: #f5f4fa;
$white: #ffffff;
$second-background-color: #2f303a;
$ttry: #ececec;
